.quiz-question-card{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px black solid;
    border-radius: 5px;
    padding: 20px;
}