#study-filter{
    text-align: center;
    border: black 2px solid;
    padding: 30px;
    border-radius: 5px;
    margin: 40px;
}
#no-results{
    font-style: italic;
    text-align: center;
}
#study-title{
    text-align: center;
    margin: 120px 90px 90px 90px;
    font-family: 'IBM Plex Serif', serif;
}
#study-title h1{
    text-shadow: 2px 2px lightgray;
}
.fitler-btn{
    margin: 10px;
    transition: box-shadow .3s;
}
.filter-btn:focus{
    box-shadow: none;
    border-color: blue;
}
.filter-btn-clicked{
    margin: 10px;
    box-shadow: 0 0 11px rgba(33,33,33);
    transition: box-shadow .3s;
    border: 2px blue solid;
}
.fitler-btn:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.8);
}

#filter-history{
    background-color: maroon;
    color: white;
}
#filter-chistory{
    background-color: brown;
    color: white;
}
#filter-eighteenhundreds{
    background-color: beige;
}

#filter-recenth{
    background-color: lightblue;
}

#filter-civics{
    background-color: teal;
    color: white;
}
#filter-sandh{
    background-color: salmon;
    color: white;
}
#filter-flagged{
    background-color: purple;
    color: white;
}
