#quiz-title{
    text-align: center;
    margin: 120px 90px 90px 90px;
    font-family: 'IBM Plex Serif', serif;
}
#quiz-title h1{
    text-shadow: 2px 2px lightgray;
}
.quiz-type-card{
    border: 1px black solid;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.quiz-type-card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.8);
}