.home-card{
    min-height: 300px;
    min-width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px auto;
    position: relative;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    
}

.menu-logo{
  position: absolute;
  width: 200px;
  top: -150px;
  left: 50%px;
  transform: translateX(-50%);
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
#study-card{
  /* background-image: url("../images/study-book.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
    /* color: white; */
}
#study-card:hover{
  background-size: 50%;
}
.home-card:hover > .menu-logo{
  width: 250px;
}

#quiz-card{
  /* background-image: url("../images/quiz.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}
#quiz-card:hover{
  background-size: 50%;

}
.home-card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.8);
    cursor: pointer;
}

#title-header{
    margin: 90px 30px 60px 30px;
}
#title-header h1{
    text-shadow: 2px 2px lightgray;
}
.home-card-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-card-content h1 {
    text-shadow: 2px 2px lightgray;
    display: inline-block;
    position: relative; 
}
.home-card:hover .home-card-content h1 {
  font-size: 45px;
}
.home-card-content h1:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scale(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform-origin: bottom-right;
  transition: transform 0.25s ease-out;
  z-index: -1;
}
.home-card:hover .home-card-content h1:after{
  transform: scaleX(1);
  background-color: red;
  transform-origin: bottom left;
}
/* .home-card-content h1:hover:after{
 
} */
.page-nav-btn{
    text-decoration: none;
    color: white;
}
.page-nav-btn:hover{
    font-weight: bold;
    color: white;
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease 2s forwards;
    -webkit-animation: fadeIn ease 2s forwards;
    -moz-animation: fadeIn ease 2s forwards;
    -o-animation: fadeIn ease 2s forwards;
    -ms-animation: fadeIn ease 2s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}