.home-card{
    min-height: 300px;
    min-width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px auto;
    position: relative;
    transition: border-box .5s
}
.home-card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.8);
}

#title-header{
    margin: 90px 30px 60px 30px;
}
#title-header h1{
    text-shadow: 2px 2px lightgray;
}
.home-card-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-card-content h1 {
    text-shadow: 2px 2px lightgray;
}
.page-nav-btn{
    text-decoration: none;
    color: white;
}
.page-nav-btn:hover{
    font-weight: bold;
    color: white;
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease 4s forwards;
    -webkit-animation: fadeIn ease 4s forwards;
    -moz-animation: fadeIn ease 4s forwards;
    -o-animation: fadeIn ease 4s forwards;
    -ms-animation: fadeIn ease 4s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}