.home-card{
    min-height: 300px;
    min-width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px auto;
    position: relative;
}
#title-header{
    margin: 90px 30px;
}
.home-card-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-nav-btn{
    text-decoration: none;
    color: white;
}
.page-nav-btn:hover{
    font-weight: bold;
    color: white;
}